@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p{
  color:white;
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}
a{
  color: black;
}
.thumbnail{
  width: 450px;
  object-fit: contain;
  object-position: middle;
  border-radius: 10px;
}
body{
  background-color: black;
  color: black;

}
.top-div{
  
}
.search{
  font-family: Roboto;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 350px;
  margin: 10px;
 
  border-radius: 20px;
  background-color: black;
  font-size: 16px;
  border-color: grey;
  border-width: 2px;
  color: white;
  
}

.video-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {

  font-size: 14px;
  color: rgb(170,170,170);
}

.video-author {

  font-size: 14px;
  color: rgb(170,170,170);
  margin-bottom: 5px;
}
.video-author:hover{
  color: white;
}

.video-div{
  width: 450px;
  display: inline-block;
  margin: 0px;
  padding: 15px;
  border-radius: 15px;
  transition: background-color 250ms;
  vertical-align: top;
}
.video-div:hover{
  background-color: rgb(23, 23, 23);
}
.channel{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.video-text{
  display: inline-block;
  width: 340px;
}
.channel-image{
  width: 40px;
  border-radius: 25px;
  margin-top: 10px;
  
}

