@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p{
  color:white;
  font-family: Roboto;
}
.thumbnail{
  width: 400px;
  object-fit: contain;
  object-position: middle;
}
body{
  background-color: black;
  color: black;

}
.search{
  display: block;
  font-family: Roboto;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 200px;
  margin: 40px;
  border-radius: 20px;
  background-color: black;
  font-size: 16px;
  border-color: grey;
  border-width: 2px;
  color: white;
  
}
p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {

  font-size: 18px;
  font-weight: bold;
  width: 400px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {

  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.video-author {

  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 18px;
}

.video-description {

  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 400px;
  line-height: 20px;
  
}

.video-div{
  width: 400px;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
  transition: background-color 200ms;
}
.video-div:hover{
  background-color: rgb(23, 23, 23);
}

