@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------- Global ---------- */

body {
  margin: 0;
  background-color: black;
  font-family: Roboto, Arial;
}

p {
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

/* ---------- Top Search Bar ---------- */

.top-div {
  padding: 15px;
}

.search {
  font-family: Roboto;
  padding: 10px 20px;
  width: 400px;
  border-radius: 20px;
  background-color: black;
  font-size: 16px;
  border: 2px solid grey;
  color: white;
  outline: none;
}

/* ---------- Video Card ---------- */

.video-div {
  width: 500px;
  display: block;
  padding: 15px;
  border-radius: 15px;
  transition: background-color 250ms;
  vertical-align: top;
}

.video-div:hover {
  background-color: rgb(23, 23, 23);
}

/* ---------- Thumbnail ---------- */

.thumbnail {
  width: 100%;
  border-radius: 10px;
}

/* ---------- Video Info Section ---------- */

.video-info {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
  margin-top: 10px;
  align-items: start;
}

/* Channel image */

.channel-image {
  width: 40px;
  border-radius: 50%;
}

/* Text section */

.video-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 6px;
}

.video-author {
  font-size: 14px;
  color: rgb(170,170,170);
  margin-bottom: 4px;
}

.video-author:hover {
  color: white;
}

.video-stats {
  font-size: 14px;
  color: rgb(170,170,170);
}