@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.thumbnail{
  height: 250px;
  object-fit: contain;
  object-position: middle;
}
body{
  background-color: black;
  color: black;

}
p{
  color:white;
  font-family: Roboto;
}
