@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
      .head{
        font-family: montserrat;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 15px;
      }
      .order{
        font-family: montserrat;
        text-align: center;
        margin-top: 10px;
      }
      .underline:hover{
        text-decoration: underline;
        cursor: pointer;
      }
      .gibber{
        font-family: montserrat;
        font-size: 13px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        line-height: 20px;
        opacity: 1;
        font-family: montserrat;
	      animation-name: fadeInOpacity;
	      animation-iteration-count: 1;
	      animation-timing-function: ease-in;
	      animation-duration: 2s;
      }

      @keyframes fadeInOpacity {
	      0% {
		      opacity: 0;
          padding-top: 30px;
	      }
	      100% {
          padding-top: 50px;
		      opacity: 1;
	      }
      }