@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {

  font-size: 18px;
  font-weight: bold;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {

  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}

.name {

  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 18px;
}

.description {

  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 300px;
  line-height: 20px;
  margin-bottom: 100px;
}

.advert {
  background-color: rgb(227, 65, 64);
  font-size: 14px;
  color: white;
  padding: 18px;
  text-align: center;

}

.shop-button:hover {
  text-decoration: underline;
}